#contact-card-container {
  min-height: 400px;
  height: auto;
  width: 100%;
  // width: 475px;
  background-color: #f9f9f9;
  border-radius: 40px;
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .icon-wrapper {
    background-color: #5057ea14;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 18px;
    display: grid;
    place-content: center;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    font-family: "Mona-Sans";
    margin-bottom: 25px;
  }

  .content {
    font-size: 22px;
    font-weight: 500;
    font-family: "Mona-Sans";
    white-space: pre-line;
  }
}
